.final-page-left {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  height: 100%;
}

.final-page-left__kube {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 188px; /* 18% */
  position: relative;
  top: -32px;
}

.final-page-left__ethernet {
  display: block;
  margin-left: auto;
  margin-right: auto;

  height: 287px;
  position: relative;
}