.page-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  min-width: 768px;
  max-width: 1024px; /* TODO */
}

.page-content {
  background-color: white;
  /* border-radius: 5px; */
  height: 450px;
}

.logo {
 margin-top: 5px;
 margin-left: 5px;
}
