.pf-c-form__label-required {
  color: var(--pf-global--danger-color--100);
}

.pf-c-form__helper-text.pf-m-error {
  color: var(--pf-global--danger-color--100);
}
.text-sublabel {
  align-content: center;
  color: var(--pf-global--palette--black-600);
  font-size: var(--pf-global--FontSize--sm);
}
