.single-ip-digit {
  width: 2rem;
  text-align: center;
  margin-left: var(--pf-global--spacer--xs);
  margin-right: var(--pf-global--spacer--xs);
}

.single-ip-digit-success {
  --pf-c-form-control--BorderBottomColor: var(--pf-c-form-control--success--BorderBottomColor);
  border-bottom-width: var(--pf-c-form-control--success--BorderBottomWidth);
}

.single-ip-digit-error {
  --pf-c-form-control--BorderBottomColor: var(--pf-c-form-control--invalid--BorderBottomColor);
  border-bottom-width: var(--pf-c-form-control--invalid--BorderBottomWidth);
}
