.settings-page-left {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  height: 100%;
}

.settings-page-left__kube {
  display: block;
  margin-left: auto;
  margin-right: auto;

  padding-top: 144px;
  width: 188px; /* 18% */
  position: relative;
}
