apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: master
  name: update-localregistry-ca-certs
spec:
  config:
    ignition:
      version: 3.1.0
    storage:
      files:
      - contents:
          source: data:text/plain;charset=us-ascii;base64,$CA_CERT_DATA
        filesystem: root
        mode: 493
        path: $PATH_CA_CERT
