---
apiVersion: agent-install.openshift.io/v1beta1
kind: AgentServiceConfig
metadata:
  namespace: open-cluster-management
  name: agent
  annotations:
    unsupported.agent-install.openshift.io/assisted-service-configmap: 'assisted-service-config'
spec:
  databaseStorage:
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 200Gi
  filesystemStorage:
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 200Gi
  mirrorRegistryRef:
    name: "mirror-ref"
  osImages:
    - openshiftVersion: "OC_OCP_VERSION_MIN"
      version: "CHANGEME"
      url: "http://HTTPD_SERVICE/OC_OCP_VERSION_MIN/rhcos-live.x86_64.iso"
      rootFSUrl: "http://HTTPD_SERVICE/OC_OCP_VERSION_MIN/rhcos-live-rootfs.x86_64.img"
      cpuArchitecture: x86_64
