.ip-triplet {
  text-align: center;
  margin-left: var(--pf-global--spacer--xs);
  margin-right: var(--pf-global--spacer--xs);
}

.ip-triplet__wide {
  width: 6rem;
}

.ip-triplet__narrow {
  width: 3.5rem;
}

.ip-triplet-success {
  --pf-c-form-control--BorderBottomColor: var(--pf-c-form-control--success--BorderBottomColor);
  border-bottom-width: var(--pf-c-form-control--success--BorderBottomWidth);
}

.ip-triplet-error {
  --pf-c-form-control--BorderBottomColor: var(--pf-c-form-control--invalid--BorderBottomColor);
  border-bottom-width: var(--pf-c-form-control--invalid--BorderBottomWidth);
}
