.domain-certificates .pf-c-panel__main {
  max-height: 16rem !important;
}

.domain-certificates .pf-c-panel__main-body {
  /* TODO: Make this responsive */
  max-width: 60rem;
  min-width: 50rem;
}
.domain-certificate__section {
  width: 100%;
}

.domain-certificate-item {
  width: 50%;
}

/* override default wizard style, we have too much content to show */
.domain-certificate__h1 {
  padding-top: 1rem !important; 
  align-content: center;
}

.pf-c-form__helper-text.pf-m-error {
  color: var(--pf-global--danger-color--100);
}