.domain-certificates .pf-c-panel__main {
  max-height: 16rem !important;
}
.domain-certificate__item {
  width: 58rem;
}

/* override default wizard style, we have too much content to show */
.domain-certificate__h1 {
  padding-top: 1rem !important; 
  align-content: center;
}

.pf-c-form__helper-text.pf-m-error {
  color: var(--pf-global--danger-color--100);
}

.domain-certificates .pf-c-expandable-section__toggle-text {
  text-align: left;
}
