name: clean-ztp-spokes
on:
  workflow_dispatch:
    inputs:
      KUBECONFIG:
        description: 'Absolute path to KUBECONFIG file?'
        required: true
      SPOKES_FILE:
        description: 'Absolute path to the Spokes YAML file?'
        required: true
      RUNNER:
        description: 'GitHub Action Runner Tag'
        required: true

env:
  KUBECONFIG: ${{github.event.inputs.KUBECONFIG}}
  SPOKES_FILE: ${{github.event.inputs.SPOKES_FILE}}
  CLEAN_SPOKES: clean-spokes
  SHARED_DIR: shared-utils

jobs:
  clean-spokes:
    runs-on: ${{github.event.inputs.RUNNER}}
    steps:
      - name: Clean Spokes 
        run: |
          export WORKDIR=${GITHUB_WORKSPACE}
          cd ${{env.CLEAN_SPOKES}}
          ./clean-spokes.sh
