name: deploy-ztp-hub
on:
  workflow_dispatch:
    inputs:
      KUBECONFIG:
        description: 'Absolute path to KUBECONFIG file?'
        required: true
      SPOKES_FILE:
        description: 'Absolute path to the Spokes YAML file?'
        required: true
      RUNNER:
        description: 'GitHub Action Runner Tag'
        required: true
      SYNC:
        description: 'Force re-sync and mirror the Hub? (yes/no)'
        default: no
        required: false


env:
  SYNC: ${{github.event.inputs.SYNC}}
  KUBECONFIG: ${{github.event.inputs.KUBECONFIG}}
  SPOKES_FILE: ${{github.event.inputs.SPOKES_FILE}}
  DEPLOY_ACM_DIR: deploy-acm
  DEPLOY_REGISTRY_DIR: deploy-disconnected-registry
  DEPLOY_HTTPD_SERVER_DIR: deploy-httpd-server
  DEPLOY_HUB_CONFIGS_DIR: deploy-hub-configs
  DEPLOY_SPOKES_DIR: deploy-spoke
  DEPLOY_WORKER_DIR: deploy-worker
  DEPLOY_OCS_DIR: deploy-ocs
  DEPLOY_POLICY_DIR: deploy-policies
  DEPLOY_METALLB_DIR: deploy-metallb
  FINISH_DEP_DIR: finish-deployment
  SHARED_DIR: shared-utils
  RO_SPOKE_FOLDER: /root/ztp-build-hub/


jobs:
  pre-flight:
    # continue-on-error: true
    runs-on: ${{github.event.inputs.RUNNER}}   #tag with your runner tag
    steps:
      - uses: actions/checkout@v2 # create a checkout (pull repository) in the runner working_dir (usually _work)
      - run: git pull origin ${GITHUB_REF##*/}

      - name: Verification
        run: |
          export WORKDIR=${GITHUB_WORKSPACE}
          cd ${{env.SHARED_DIR}}
          ./verify_preflight.sh

  deploy-httpd-server:
    needs: pre-flight          # run in parallel with the other jobs
    runs-on: ${{github.event.inputs.RUNNER}}
    #TODO if env after verify-if-hub-exists is true then run the following steps
    steps:
      - name: Deploy Internal HTTPD Server
        run: |
          export WORKDIR=${GITHUB_WORKSPACE}
          cd ${{env.DEPLOY_HTTPD_SERVER_DIR}}
          ./deploy.sh


  deploy-disconnected-registry-hub:
    needs: deploy-httpd-server
    runs-on: ${{github.event.inputs.RUNNER}}
    steps:
      - name: Deploy Internal Disconnected Registry
        run: |
          export WORKDIR=${GITHUB_WORKSPACE}
          # Get if we're forcing or not sync
          export SYNCORNOT=${{env.SYNC}}

          cd ${{env.DEPLOY_REGISTRY_DIR}}
          ./deploy.sh 'hub'
          ./update-global-pullsecret.sh 'hub'
          # TODO: assuming that the disconnected registry is already deployed and keeping contents.
          if [ "${SYNCORNOT}" == "yes" ]; then
            ./ocp-sync.sh 'hub'
            ./olm-sync.sh 'hub'
            rm -fr /var/tmp/mirror-snapshot.tgz
          fi
          ./mirror-snapshot.sh 'hub' ${SYNCORNOT}


  deploy-acm:
    needs: deploy-disconnected-registry-hub
    runs-on: ${{github.event.inputs.RUNNER}}
    steps:
      - name: Deploy RHACM with AI
        run: |
          export WORKDIR=${GITHUB_WORKSPACE}
          cd ${{env.DEPLOY_ACM_DIR}}
          ./deploy.sh


  deploy-icsp-hub:
    needs: deploy-acm
    runs-on: ${{github.event.inputs.RUNNER}}
    steps:
      - name: Deploy ICSP in the Hub
        run: |
          export WORKDIR=${GITHUB_WORKSPACE}
          cd ${{env.DEPLOY_SPOKES_DIR}}
          ./configure_disconnected.sh 'hub'


  deploy-hub-config:
    needs: deploy-icsp-hub
    runs-on: ${{github.event.inputs.RUNNER}}
    steps:
      - name: Deploy hub configuration
        run: |
          export WORKDIR=${GITHUB_WORKSPACE}
          cd ${{env.DEPLOY_HUB_CONFIGS_DIR}}
          ./deploy.sh

  save-hub-config:
    needs: deploy-hub-config
    runs-on: ${{github.event.inputs.RUNNER}}
    steps:
      - name: Save HUB configuraton
        run: |
          export WORKDIR=${GITHUB_WORKSPACE}
          rsync -avr --progress --delete ${WORKDIR}/build/ ${RO_SPOKE_FOLDER}
