name: Deploy via Jekyll on GitHub  pages

on:
  push:
    branches:
      - main
    paths:
      - 'website/**'
      - 'documentation/**'
  schedule:
    - cron:  '0 0 * * *'

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  jekyll:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    # Use GitHub Actions' cache to shorten build times and decrease load on servers
    - uses: actions/cache@v3
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-

    - uses: iranzo/gh-pages-jekyll-action@1.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.GHAREPO }}
        SOURCE_FOLDER: website
