name: Deploy via Jekyll on GitHub  pages

on:
  push:
    branches:
      - main
    paths:
      - 'website/**'
      - 'documentation/**'
      - '.github/workflows/jekyll.yml'
  schedule:
    - cron:  '0 0 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  jekyll:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    # Use GitHub Actions' cache to shorten build times and decrease load on servers
    - uses: actions/cache@v3
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-

    - name: Install dependencies
      run: apt-get -y update && apt-get install -y ruby ruby-dev  && gem install bundler

    - name: Build asciidoc
      run: bash -x build.sh

    - uses: helaili/jekyll-action@v2
      with:
        target_path: /
        keep_history: true
        target_branch: gh-pages
        token: ${{ secrets.GITHUB_TOKEN }}
        jekyll_src: website
